.workspace {

	width:80%;
	margin: 0 auto;
	border: 1px solid #888888;
	box-shadow: 5px 5px 2px #888888;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding:2em;
	background-color: #FFFFCC;

}